<launch>
  <arg name="use_platform" default="false" />
  
  <include file="$(find panda_simulation)/launch/panda_simulation.launch" />
  
  <node pkg="open_manipulator_find_object_2d" type="tracking" name="tracking" output="screen">
    <param name="use_platform" value="$(arg use_platform)" />
  </node>
</launch>
